body
{    
    background-color: #ecf4f3;
    padding: 0;
    margin: 0;
}

.cabecera
{
    background-color: #1f2326; 
    width: 100%;
    height: 250px;
}

.cabecera h1
{
    color: #ecf4f3;
    
    margin: 0px;
    padding: 0px
}

.logo
{
    position:absolute;
    top: 15px; left: 120px;
}

/*--------AJUSTES BARRA NAVEGACION-------------*/
.menu
{
    width: 550px;
    padding: auto;
    position: absolute;
    top: 212px; left: 175px;
    z-index: 100;
}

ul, ol
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav li a
{
    background-color: #1f2326;
    color: #000;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover
{
    background-color: #ecf4f3;
}

.nav > li
{
    float: left;
}

.nav li ul
{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover >ul
{
    display: block;
}
 
.imagenes
{
    float: left;
    margin: 15px;
}

.contenido
{
    width: 600px;
    text-align: justify;
    float: left;
    margin: 0px 0px 0px 150px;
}

.glosario li
{
    padding: 4px;
}
.glosario 
{
    font-style: italic;
}

.concepto
{
    font-weight: bold;
}

.video
{
    width: 550px;
    float: right;
    margin: 225px 15px 0px 0px;
}

.lateral
{
        width:  550px;
        float: right;
        margin: 75px 15px 0px 0px;
}

/*--------AJUSTES BARRA NAVEGACION------------*/